img {
    position: absolute;
    top: 0vh;
    left: 0vw;
}

#gambar1{
    transform: scale(0.5,0.5);
}

#tulisan{
    color: white;
    font-weight: bold;
    position: relative;
    top: 50vh;
    right: 10vw;
    font-size: 50px;
}   

#tulisan2{
    position:absolute;
    z-index: 1;
    font-size: 40px;
    margin-top: 420px;
    margin-left: 0px;
    color: white;
    font-weight: bold;
} 


svg{
    position:absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

nav{
    background-color: rgba(0, 0, 0, 0);
}

#logincard{
    margin-top: 180px;
}

#daftarcard{
    margin-top: 150px;
}

.navbar-nav{
    margin-right: 200px;
}

.nav-item{
    padding-left: 30px;
    padding-right: 30px;
}

#cetakin{
    font-weight: bold;
    color: white;
}

#login-btn{
    color: white;
    font-weight: bold;
}